
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.gif_container img {
    width: 300px; /* Змініть розмір гіфки за потреби */
}

.buttons {
    position: relative;
}

.btn {
    transition: top 0.3s ease-out, left 0.3s ease-out;
}

    .btn:hover {
        top: calc(Math.random() * (100vh - 30px)); /* Змініть розмір кнопки за потреби */
        left: calc(Math.random() * (100vw - 60px)); /* Змініть розмір кнопки за потреби */
    }